
<full-calendar
  defaultView="timeGridWeek"
  [plugins]="calendarPlugins"
  [editable]="true"
  [weekends]="false"
  [minTime]="{
    hours: 8,
    minutes: 00
  }"
  [maxTime]="{
    hours: 22,
    minutes: 00
  }"
  [slotDuration]="{
    hours: 0,
    minutes: 30
  }"
  [allDaySlot]=false
  [visibleRange]="{
    start: '2019-07-26',
    end: '2019-12-13'
  }"
  [titleFormat]="{
    weekday:'long'
  }"
  [events]="eventSources"
></full-calendar>
<!-- [events]="[{
        title: 'Lunch',
        start: '2019-10-21T10:00:00',
        end: '2019-10-21T12:50:00'      
      }]"
      [slotLabelFormat]="{
  hour: 'numeric',
  minute: '2-digit',
  omitZeroMinute: true,
  meridiem: 'short'
}"
     [columnHeaderFormat]="dddd"-->
