<div class="main">
  <b class="titleTxt">Account Settings</b>
  <table class="table table-hover mat-elevation-z8">
    <tr>
      <th>Student ID Number</th>
      <td>10614325</td>
      <td><button mat-raised-button>Edit</button></td>
    </tr>
    <tr>
      <th>Name</th>
      <td>Munmun Shrestha</td>
      <td><button mat-raised-button>Edit</button></td>
    </tr>
    <tr>
      <th>Email</th>
      <td>mshresth@go.olemiss.edu</td>
      <td><button mat-raised-button>Edit</button></td>
    </tr>
    <tr>
        <th>Password</th>
        <td>********</td>
        <td><button mat-raised-button>Edit</button></td>
      </tr>
      <!-- if student -->
    <tr>
      <th>Preferred Number of Hours</th>
      <td>20</td>
      <td><button mat-raised-button>Edit</button></td>
    </tr>

  </table>
</div>
