
   <div class="main">
      <b class="titleTxt">My Schedule</b>
    <table class="table table-bordered">
      <!-- <tr>
         <th *ngFor="let header of headers" class="header">{{header}}</th>
       </tr> -->
      <tr>
        <td *ngFor="let time of timeData" [attr.colspan]="2" class="timeAlign">
          {{ time.value }}
        </td>
      </tr>
      <tr *ngFor="let location of dataArray">
        <td
          *ngFor="let val of location"
          [attr.colspan]="val.grid"
          [ngStyle]="{
            'background-color':
              val.isDL == 1
                ? 'yellow'
                : val.isDL == 0 && val.isClass == 1
                ? 'grey'
                : 'transparant'
          }"
        >
          {{ val.display }}<br />{{ val.name }}
        </td>
      </tr>
    </table>

    <button mat-raised-button (click)="openDialog()">Add Schedule</button>
  </div>

