<div class="card my-2">
  <!-- <div class="table-responsive"> -->

  <div class="card-body">
    <h2 class="card-title">My Schedule</h2>
    <table mat-table [dataSource]="dataSource" class="table table-hover">
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef>Time</th>
        <td mat-cell *matCellDef="let element">{{ element.value }}</td>
      </ng-container>

      <ng-container matColumnDef="monday">
        <th mat-header-cell *matHeaderCellDef>Monday</th>
        <td mat-cell *matCellDef="let element">{{ element.monday }}</td>
      </ng-container>

      <ng-container matColumnDef="tuesday">
        <th mat-header-cell *matHeaderCellDef>Tuesday</th>
        <td mat-cell *matCellDef="let element">{{ element.tuesday }}</td>
      </ng-container>

      <ng-container matColumnDef="wednesday">
        <th mat-header-cell *matHeaderCellDef>Wednesday</th>
        <td mat-cell *matCellDef="let element">{{ element.wednesday }}</td>
      </ng-container>

      <ng-container matColumnDef="thursday">
        <th mat-header-cell *matHeaderCellDef>Thursday</th>
        <td mat-cell *matCellDef="let element">{{ element.thursday }}</td>
      </ng-container>

      <ng-container matColumnDef="friday">
        <th mat-header-cell *matHeaderCellDef>Friday</th>
        <td mat-cell *matCellDef="let element">{{ element.friday }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <!-- <full-calendar
  defaultView="timeGridWeek"
  [plugins]="calendarPlugins"
  [editable]="true"
  [weekends]="false"
  [minTime]="{
    hours: 8,
    minutes: 00
  }"
  [maxTime]="{
    hours: 22,
    minutes: 00
  }"
  [slotDuration]="{
    hours: 0,
    minutes: 30
  }"
  [allDaySlot]=false
  [visibleRange]="{
    start: '2019-07-26',
    end: '2019-12-13'
  }"
  [titleFormat]="{
    weekday:'long'
  }"
  [events]="eventSources"
  [slotEventOverlap]=false
  [height]=790
></full-calendar> -->

    <button mat-raised-button (click)="openDialog()">Add Schedule</button>
    <!-- <button mat-raised-button (click)="openDialog-leave()">Request Leave</button> -->
  </div>
</div>
