<!-- <div class="card my-2">
  <div class="card-body">     
    <h2 class="card-title">
-->
<!-- <a (click)="backClicked()" class="previous round">&#8249;</a> -->
<div class="main">
  <b class="titleTxt">Assign Distance Learning Classes to Student Workers</b>
  <br />
  <mat-form-field class="select">
    <mat-label>Choose a day to assign class</mat-label>
    <mat-select [(ngModel)]="selectedDay" name="day">
      <mat-option
        *ngFor="let day of weekdays"
        [value]="day"
        (click)="ListDLClasses()"
      >
        {{ day }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <ng-container *ngIf="showTable">
    <!-- <div class="card my-2">
      <div class="card-body"> -->
        <!-- <b class="bodyTitleTxt">DL Classes on {{ selectedDay }}</b> -->
<!-- 
        <table
          mat-table
          [dataSource]="dataSource"
          class="mat-elevation-z8 table-hover"
        >
          <ng-container matColumnDef="course">
            <th mat-header-cell *matHeaderCellDef>Course ID</th>
            <td mat-cell *matCellDef="let element">{{ element.course }}</td>
          </ng-container>

          <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef>Location</th>
            <td mat-cell *matCellDef="let element">{{ element.location }}</td>
          </ng-container>

          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="2">
              <div
                class="example-element-detail"
                [@detailExpand]="
                  element == expandedElement ? 'expanded' : 'collapsed'
                "
              >
                <table class="table table-hover">
                  <tr>
                    <th>Course ID</th>
                    <td>{{ values.course }}</td>
                  </tr>

                  <tr>
                    <th>Location</th>
                    <td>{{ values.location }}</td>
                  </tr>
                  <tr>
                    <th>Start Time</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th>End Time</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th>Available Student Workers</th>
                    <td>
                      <mat-form-field>
                        <mat-select
                          [(ngModel)]="selectedStudent"
                          name="student"
                        >
                          <mat-option
                            *ngFor="let student of students"
                            [value]="student.name"
                          >
                            {{ student.name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                  </tr>
                </table>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            (click)="onRowClick(row)"
            class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="
              expandedElement = expandedElement === element ? null : element
            "
          ></tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table> -->

        <table class="table table-hover mat-elevation-z8">
          <thead>
            <tr>
              <th scope="col">Course ID</th>
              <th scope="col">Location</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let dl of dlClasses; let j = index"
              (click)="onRowClick(dl)"
            >
              <td>{{ dl.course }}</td>
              <td>{{ dl.location }}</td>
            </tr>
          </tbody>
        </table>
      <!-- </div>
    </div> -->
  </ng-container>

  <ng-container *ngIf="showDetails">
    <div class="card my-6">
      <div class="card-body">
        <b class="bodyTitleTxt">Course Details</b><br />
        <table class="table table-hover">
          <tr>
            <th>Course ID</th>
            <td>{{ values.course }}</td>
          </tr>

          <tr>
            <th>Location</th>
            <td>{{ values.location }}</td>
          </tr>
          <tr>
            <th>Start Time</th>
            <td></td>
          </tr>
          <tr>
            <th>End Time</th>
            <td></td>
          </tr>
          <tr>
            <th>Available Student Workers</th>
            <td>
              <mat-form-field>
                <mat-select [(ngModel)]="selectedStudent" name="student">
                  <mat-option
                    *ngFor="let student of students"
                    [value]="student.name"
                  >
                    {{ student.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <!-- Course ID: {{ values.course }}<br />
        Location: {{ values.location }}<br /> -->
        <!-- Start Time: {{ values.start }}<br> -->
        <!-- Available Student Workers:
        <mat-form-field>
          <mat-select [(ngModel)]="selectedStudent" name="student">
            <mat-option *ngFor="let student of students" [value]="student.name">
              {{ student.name }}
            </mat-option>
          </mat-select> </mat-form-field
        ><br /> -->

        <button mat-raised-button (click)="Assign()">Assign</button>
      </div>
    </div>
  </ng-container>
</div>
