<div class="card my-2">
    <div class="card-body">
      <h4 class="card-title">Student Workers</h4>
  
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Student ID Number</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.fname }} {{user.lname}}</td>
            <td>
              <a href="mailto:{{ user.email }}">{{ user.email }}</a>
            </td>
            <td>
              <button type="button" class="btn btn-link" (click)="openDialogEdit(user)">Edit</button>
              <button type="button" class="btn btn-link" (click)="onDelete(user.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <button mat-raised-button (click)="openDialog()">Add Student Workers</button>
    </div>
  </div>
  