<!-- <div class="card my-2">
  <div class="card-body"> -->
    <div class="main">
      <b class="titleTxt">Fall 2019-2020</b>
      <mat-tab-group
        [selectedIndex]="selected.value"
        (selectedIndexChange)="change($event)"
      >
        <mat-tab *ngFor="let day of weekdays" [label]="day.value">
          <table class="table table-bordered">
            <tr>
              <td
                *ngFor="let time of timeData"
                [attr.colspan]="2"
                class="timeAlign"
              >
                {{ time.value }}
              </td>
            </tr>
            <tr *ngFor="let location of dataArray">
              <td
                *ngFor="let val of location"
                [attr.colspan]="val.grid"
                [ngStyle]="{
                  'background-color': val.dl ? 'yellow' : 'transparant'
                }"
              >
                {{ val.display }}<br /><b>{{ val.name }}</b>
              </td>
            </tr>
          </table>
        </mat-tab>
      </mat-tab-group>
    <!-- </div>
  </div> -->
</div>
