<!-- <div class="card my-2">
  <div class="card-body"> -->
<div class="alert alert-success" role="alert" *ngIf="requested">
  {{ message }}
</div>
<div class="main">
  <b class="titleTxt">
    Request a Leave
  </b>
  <br>
  <mat-form-field>
    <input
      #input
      matInput
      [min]="minDate"
      [max]="maxDate"
      [matDatepicker]="picker"
      placeholder="Choose a date"
      [(ngModel)]="date"
      (dateChange)="addEvent($event)"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <div *ngIf="showClasses">
    <div *ngIf="hasClass">
      <div *ngFor="let item of classes">
        <mat-checkbox
          #ref
          value="{{ item.course }}"
          name="{{ item.course }}"
          [(ngModel)]="item.selected"
          color="primary"
          >Course ID: {{ item.course }}<br />
          Location: {{ item.location }}<br />
          Time: {{ item.start }}-{{ item.end }}<br
        /></mat-checkbox>
      </div>
      <button mat-raised-button (click)="request()">
        Request
      </button>
    </div>
    <div *ngIf="!hasClass">You do not have any work hours on {{ selectedDay }} {{finalDate}}</div>
  </div>
</div>
<!-- </div>
</div> -->
