<div class="card my-2">
  <div class="card-body">
    <h2 class="card-title">
      Request a Leave
    </h2>

    <mat-form-field>
      <mat-label>Choose a day for leave</mat-label>
      <mat-select [(ngModel)]="selectedDay" name="day">
        <mat-option
          *ngFor="let day of weekdays"
          [value]="day"
          (click)="ListAssignedClasses()"
        >
          {{ day }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <div *ngFor="let item of weekDays; let i = index">
      <mat-checkbox
        #ref
        value="{{ item.name }}"
        name="{{ item.name }}"
        [(ngModel)]="item.checked"
        >{{ item.name }}</mat-checkbox
      >
    </div> -->
  </div>
</div>

