<!-- <form class="form-container" name="leaveRequest">
        <div fxLayout="row" fxLayoutAlign="space-around center" fxFlex="70%">
          <div fxLayout="column">
            <label for="startTime">Start Time:</label>
            <ngb-timepicker
              name="startTime"
              [(ngModel)]="time"
              [meridian]="meridian"
              [ngModelOptions]="{ standalone: true }"
            ></ngb-timepicker>
            <button class="btn btn-sm btn-outline-meridian"></button>
  
            <label for="endTime">End Time:</label>
            <ngb-timepicker
              name="endTime"
              [(ngModel)]="time"
              [meridian]="meridian"
              [ngModelOptions]="{ standalone: true }"
            ></ngb-timepicker>
            <button class="btn btn-sm btn-outline-meridian"></button>
  
            <mat-radio-group formControlName="entryType">
              <mat-radio-button value="1">Class</mat-radio-button>
              <mat-radio-button value="2">Unavailable</mat-radio-button>
            </mat-radio-group>
  
            <mat-form-field>
              <input
                matInput
                [disabled]="form.value.entryType == 2"
                placeholder="Location"
              />
            </mat-form-field>
          </div>
  
          <div fxLayout="column">
            <mat-checkbox>Monday</mat-checkbox>
            <mat-checkbox>Tuesday</mat-checkbox>
            <mat-checkbox>Wedday</mat-checkbox>
            <mat-checkbox>Thursday</mat-checkbox>
            <mat-checkbox>Friday</mat-checkbox>
          </div>
        </div>
      </form> -->


        