<h2 mat-dialog-title>Enter New Student Worker:</h2>
<mat-dialog-content width=40>
    <form
      id="stdform"
      class="form-container"
      name="addStdWorkers"
      #stdAddForm="ngForm"
    >
      <div fxLayout="column" fxLayoutAlign="space-around " fxFlex="70%">
       
          <mat-form-field>
            <input
              matInput
              name="studentId"
              placeholder="Student ID Number"
              [(ngModel)]="user.id"
            />
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              name="firstname"
              placeholder="First Name"
              [(ngModel)]="user.fname"
            />
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              name="lastname"
              placeholder="Last Name"
              [(ngModel)]="user.lname"
            />
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              name="email"
              placeholder="Email"
              [(ngModel)]="user.email"
            />
          </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div fxLayout="row" fxLayoutAlign="space-around end">
      <button mat-raised-button type="submit" (click)="onSubmit()">Save</button>

      <button
        mat-raised-button
        type="button"
        class="Discard-btn"
        (click)="cancel()"
      >
        Cancel
      </button>
    </div>
  </mat-dialog-actions>

