<div class="main">
    <b class="titleTxt">Leave Requests</b>
          <div *ngIf="requestExist">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Student Name</th>
                <th scope="col">Date</th>
                <th scope="col">Class To Cover</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let request of requests">
                <td>{{ request.std_name }}</td>
                <td>{{ request.date}}</td>
                <td>
                  Course ID: {{request.class_toCover.course}}<br>
                  Time: {{request.class_toCover.start}} - {{request.class_toCover.end}} {{request.class_toCover.day}}<br>
                  Location: {{request.class_toCover.location}}
                </td>
                <td>
                  <a (click)="accept(request.id)">
                      <mat-icon class="icon">check_circle</mat-icon></a>
                  <a (click)="reject(request.id)">
                    <mat-icon class="icon">cancel</mat-icon></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="bodytxt" *ngIf="!requestExist">No Reqest</div>
        </div>

      