<div class="card my-2">
  <!-- <div class="table-responsive"> -->

  <div class="card-body">
    <h4 class="card-title">Distance Learning Classes</h4>
    <table class="table">
      <thead>
        <tr>
          <!-- <div *ngFor="let item of weekDays"> -->
          <th scope="col"></th>
          <th scope="col">8:00</th>
          <th scope="col">8:30</th>
          <th scope="col">9:00</th>
          <th scope="col">9:30</th>
          <th scope="col">10:00</th>
          <th scope="col">10:30</th>
          <th scope="col">11:00</th>
          <th scope="col">11:30</th>
          <th scope="col">12:00</th>
          <th scope="col">12:30</th>
          <th scope="col">1:00</th>
          <th scope="col">1:30</th>
          <th scope="col">2:00</th>
          <th scope="col">2:30</th>
          <th scope="col">3:00</th>
          <th scope="col">3:30</th>
          <th scope="col">4:00</th>
          <th scope="col">4:30</th>
          <th scope="col">5:00</th>
          <th scope="col">5:30</th>
          <th scope="col">6:00</th>
          <th scope="col">6:30</th>
          <th scope="col">7:00</th>
          <th scope="col">7:30</th>
          <th scope="col">8:00</th>
          <th scope="col">8:30</th>
          <th scope="col">9:00</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Monday</th>
        </tr>
        <tr>
          <th scope="row">Tuesday</th>
        </tr>
        <tr>
          <th scope="row">Wednesday</th>
        </tr>
        <tr>
          <th scope="row">Thursday</th>
        </tr>
        <tr>
          <th scope="row">Friday</th>
        </tr>

        <!--<td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr> -->
      </tbody>
    </table>
    <button mat-raised-button (click)="openDialog()">Add DL Class</button>
  </div>
</div>
