
  <div class="card my-2">
      <!-- <div class="table-responsive"> -->
    
      <div class="card-body">
        <h2 class="card-title">DL Schedule</h2>
        <mat-tab-group>
            <mat-tab label="Monday"> 
               <app-dl-by-location></app-dl-by-location>
            </mat-tab>
            <mat-tab label="Tuesday"> Tuesday </mat-tab>
            <mat-tab label="Wednesday"> Wednesday</mat-tab>
            <mat-tab label="Thusday"> Thusday </mat-tab>
            <mat-tab label="Friday"> Tuesday </mat-tab>
          </mat-tab-group>
        
    <button mat-raised-button (click)="openDialog()">Add DL Class</button>
    <button mat-raised-button (click)="openAssignPage()">Assign Student Workers</button>


  </div>
</div>
