<div class="card my-2">
  <!-- <div class="table-responsive"> -->

  <div class="card-body">
    <h3 class="card-title">Distance Learning Classes</h3>
    <full-calendar
    defaultView="timeGridWeek"
    [plugins]="calendarPlugins"
    
    [weekends]="false"
    [minTime]="{
      hours: 8,
      minutes: 00
    }"
    [maxTime]="{
      hours: 22,
      minutes: 00
    }"
    [slotDuration]="{
      hours: 0,
      minutes: 30
    }"
    [allDaySlot]=false
    
    [titleFormat]="{
      weekday:'long'
    }"
    [events]="eventSources"
    (eventClick)="onEventClick($event)"
    [slotEventOverlap]=false
    [height]=790

    [editable]= "true"
    [droppable]= "true"
  ></full-calendar>
  <!-- [visibleRange]="{
    start: '2019-07-26',
    end: '2019-12-13'
  }" -->
    <button mat-raised-button (click)="openDialog()">Add DL Class</button>

  </div>
</div>
