<div>
  <h2 mat-dialog-title>Enter Distance Learning Classes:</h2>

  <mat-dialog-content>
    <form class="form-container" name="addStdSchedule">
      <div fxLayout="row" fxLayoutAlign="space-around center" fxFlex="70%">
        <div fxLayout="column">
          <mat-form-field>
            <input matInput placeholder="Course ID" />
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Location" />
          </mat-form-field>

          <label for="startTime">Start Time:</label>
          <ngb-timepicker
            name="startTime"
            [(ngModel)]="time"
            [meridian]="meridian"
            [ngModelOptions]="{ standalone: true }"
          ></ngb-timepicker>
          <button class="btn btn-sm btn-outline-meridian"></button>

          <label for="endTime">End Time:</label>
          <ngb-timepicker
            name="endTime"
            [(ngModel)]="time"
            [meridian]="meridian"
            [ngModelOptions]="{ standalone: true }"
          ></ngb-timepicker>
          <button class="btn btn-sm btn-outline-meridian"></button>
        </div>
        <div fxLayout="column">
          <mat-checkbox>Monday</mat-checkbox>
          <mat-checkbox>Tuesday</mat-checkbox>
          <mat-checkbox>Wedday</mat-checkbox>
          <mat-checkbox>Thursday</mat-checkbox>
          <mat-checkbox>Friday</mat-checkbox>
        </div>
      </div>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions>
    <div fxLayout="row" fxLayoutAlign="space-around end">
      <button mat-raised-button>Save</button>
      <button
        mat-raised-button
        type="button"
        class="Discard-btn"
        (click)="cancel()"
      >
        Cancel
      </button>
    </div>
  </mat-dialog-actions>
</div>
