<mat-toolbar color="primary" class="main">
  <!-- <div class="mainPadding"> -->
  <span>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
  </span>
  <span class="titleTxt" (click)="titleClick()">
      Dl Scheduling </span>
  <span class="spacer"></span>
  <span
    ><button mat-icon-button><mat-icon>person_outline</mat-icon></button></span
  >
  <span class="name">{{ username }}</span>
</mat-toolbar>

<mat-sidenav-container >
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'home'">
        <mat-icon>home</mat-icon>&nbsp; Home
      </a>
      <a mat-list-item [routerLink]="'stdSchedule'">
        <mat-icon>event</mat-icon>&nbsp;My Schedule
      </a>
      <!-- <a mat-list-item [routerLink]="'dlSchedule'"> DL Schedule </a> -->
      <a mat-list-item [routerLink]="'leaveRequest'">
        <mat-icon>filter_none</mat-icon>&nbsp; Leave Request
      </a>
      <a mat-list-item [routerLink]="'settings'">
        <mat-icon>settings</mat-icon>&nbsp;Settings
      </a>
      <a mat-list-item [routerLink]="'logout'">
        <mat-icon>exit_to_app</mat-icon>&nbsp;Logout
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 100vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
